<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Platzi Commerce</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/styles.css'>
</head>
<body>
    <div id="app">
        <header>
            <h3>Platzi Commerce</h3>
            <button class="cart" @click="cartOpen = !cartOpen">Cart ({{ cart.length }})</button>

            <div class="cart-content" v-show="cartOpen">
                <div class="cart-content__product" 
                        v-for="(product, index) in cart" 
                        :key="product.name"
                        :class="{'bg-gray': index & 1}">
                    <img :src="product.images[0].image" :alt="product.name.toUpperCase()" />
                    <span>
                        {{ product.name }} - 
                        $ {{ new Intl.NumberFormat('en-EN').format(product.price) }}
                        ( {{ product.quantity }} )
                    </span>
                </div>
                <p>Total: $ {{ new Intl.NumberFormat('en-EN').format(total) }} </p>
            </div>
            
        </header>

        <main>
            <product 
                v-for="product in products" 
                :key="product.name" 
                :product="product"
                @sendtocart="addToCart">
            </product>
        </main>

    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/index.js"></script>
    <script src="components/Badge.js"></script>
    <script src="components/Product.js"></script>
    <script src="js/mount.js"></script>
</body>
</html>