<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Platzi Commerce</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/styles.css'>
</head>
<body>
    <div id="app">
        <header>
            <h3>Platzi Commerce</h3>
            <button class="cart" @click="cartOpen = !cartOpen">Cart ({{cart.length}})</button>

            <div class="cart-content" v-show="cartOpen">
                <div class="cart-content__product" 
                        v-for="(product, index) in cart" 
                        :key="product.name"
                        :class="{'bg-gray': index & 1}">
                    <img :src="product.images[0].image" :alt="product.name.toUpperCase()" />
                    <span>
                        {{ product.name }} - 
                        $ {{ new Intl.NumberFormat('en-EN').format(product.price) }} 
                        ({{product.quantity}})
                    </span>
                </div>
            </div>
            
        </header>

        <main>
            <section class="product">
                <div class="product__thumbnails">
                    <div class="thumb" 
                        v-for="(images, index) in product.images"
                        :key="images.thumbnail"
                        :class="{ active: activeImage === index}" 
                        :style="{backgroundImage: 'url(' + images.thumbnail + ')'}"
                        @click="activeImage = index"></div>
                </div>
                <div class="product__image">
                    <img :src="product.images[activeImage].image" :alt="product.name">
                </div>
            </section>
            <section class="description">
                <h4>{{ product.name }} {{product.stock === 0 ? '😥' : '😀' }}</h4>
                <span class="badge new" v-if="product.new">New</span>
                <span class="badge offer" v-if="product.offer">Offer</span>
                <p class="description__status" v-if="product.stock === 3"> {{product.stock}} units left</p>
                <p class="description__status" v-else-if="product.stock === 2">Product close to sold out </p>
                <p class="description__status" v-else="product.stock === 1">Last unit available </p>
                <p class="description__status" v-else="product.stock === 0">Out of stock '😥'</p>
                <p class="description__price"> $ {{ new Intl.NumberFormat('en-EN').format(product.price) }}</p>
                <p class="product__description">{{ product.description }}</p>
                <div class="discount">
                    <span>Discount Code:</span>
                    <input type="text" placeholder="Enter your code" @keyup.enter="applyDiscount($event)">
                </div>
                <button :disabled="product.stock === 0" @click="addToCart">Add to the cart</button>
            </section>
        </main>

    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/index.js"></script>
</body>
</html>